body {
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
}

.title,.stat, .brief, .total{
    color: #adb5bd;
}

.score, .description {
    color: hsl(0, 0%, 100%); 
}

.title {
    margin-top: 35px;
}

.result {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: grid;
    place-items: center;
    height: 449px;
    width: 322px;
    border-radius: 1.7rem;
}

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.score {
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 35px;
}

.total {
    margin-top: 0;
}

.description {
    margin: 10px auto;
}

.brief {
    width: 70%;
    margin-top: 0;
    margin-bottom: 30px;
}

.summary {
    height: 409px;
    width: 252px;
    padding: 20px 40px 20px 60px;
    box-shadow: 4px 4px 4px 2px hsl(224, 30%, 27%);
    border-top-right-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    border: none;
    margin-left: -20px;
    /*Fix padding */
    z-index: -1;
} 

.cluster {
    display: flex;
}

.icon {
    padding-right: 10px;
    margin: 0 auto;
} 

.stat {
    font-weight: bold;
    padding-top: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    padding-left: 15px;
    padding-right: 15px;
} 


span {
    color: #212121;
}

.reaction {
    color: hsl(0, 100%, 67%);
    
}

.row-reaction {
    background-color: hsl(0, 100%, 95%)
}

.memory {
    color: hsl(39, 100%, 56%);
    
}

.row-memory {
    background-color:hsl(39, 100%, 95%);
}

.verbal {
    color: hsl(166, 100%, 37%);
}

.row-verbal {
    background-color: hsl(166, 100%, 95%);
}

.visual {
    color: hsl(234, 85%, 45%);
}

.row-visual {
    background-color: hsl(234, 85%, 95%);
}

.reaction, .memory, .verbal, .visual {
    font-weight: bold;
    display: inline-block;
}


.button {
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    padding: 0.8rem;
    border-radius: 1.25rem;
    font-weight: bold;
    margin-top: 2.2rem;
}